.middle-faq {
  font-family: "Krub", sans-serif;
  margin-top: 10px;
  padding: 40px; }

.card-header {
  background-color: #F7F7F7; }

.btn-link {
  color: #2B3A42; }

.btn-link:hover {
  color: #F1A536;
  text-decoration: none; }

.video {
  margin-top: 20px; }
