html, body {
  width: 100%; }

.middle-map {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.map-section {
  width: 40%;
  padding: 20px; }
  .map-section .map-title {
    font-family: "Staatliches", cursive;
    text-align: center;
    font-size: 30px; }
  .map-section .map-address {
    margin-bottom: 0; }
  .map-section .map-hours {
    margin-left: 0; }

.map {
  width: 100%; }
