html, body {
  width: 100%; }

.middle-map {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.map-section {
  width: 40%;
  padding: 20px; }

.map {
  width: 100%; }
