.menucontainer {
  padding: 20px;
  margin-left: 20px;
  font-family: "Krub", sans-serif; }
  .menucontainer .menu-title {
    font-size: 60px;
    font-family: "Staatliches", cursive;
    margin-top: 20px; }

ul {
  list-style-type: none; }
