.page-title {
  font-size: 60px;
  font-family: "Staatliches", cursive;
  margin-top: 20px;
  border-bottom: 1px solid #BDD3DE;
  text-align: center;
  letter-spacing: 4px;
  color: #2B3A42; }

html {
  height: 100%; }

.logoimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px; }

.navbar {
  position: fixed;
  width: 100%; }
  .navbar .fab {
    padding: 10px; }
  .navbar .social-icon {
    color: #3F5866; }
  .navbar .social-icon:hover {
    color: #F1A536; }
  .navbar .nav-link:hover {
    font-size: 18px;
    color: #F1A536; }
  .navbar .active {
    font-size: 20px;
    font-family: "Staatliches", cursive; }

.navback {
  background-color: #F7F7F7; }

.navbar-light .navbar-nav .nav-link {
  color: #2B3A42; }

.logocropped {
  height: 30px; }

.paraback1 {
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../burger-hero.jpg"); }

.slogan {
  font-family: "Krub", sans-serif;
  font-size: 35px;
  text-align: center;
  letter-spacing: 10px;
  color: #3F5866; }

.content-container {
  padding: 30px; }
  .content-container .body {
    font-family: "Krub", sans-serif;
    color: #3F5866;
    font-size: 30px;
    padding: 15px; }
  .content-container .p1 {
    color: #2B3A42;
    font-weight: bold; }
  .content-container .p3 {
    color: #F1A536;
    font-weight: bold; }

.bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
  font-family: "Krub", sans-serif;
  color: #2B3A42; }
  .bottom .modal-header {
    border-bottom: none; }
  .bottom .modal-footer {
    border-top: none; }
  .bottom .subscribebtn {
    background-color: #3F5866;
    border: none; }
  .bottom .subscribebtn:hover {
    background-color: #F1A536; }
  .bottom .closebtn {
    background-color: #BDD3DE;
    border: none; }
  .bottom .closebtn:hover {
    background-color: #3F5866; }
  .bottom .subbtn {
    background-color: #F1A536;
    border: none; }
  .bottom .subbtn:hover {
    background-color: #3F5866; }

.menucontainer {
  padding: 20px;
  margin-left: 30px;
  font-family: "Krub", sans-serif; }
  .menucontainer .menu-item {
    border-bottom: 1px solid #BDD3DE; }
  .menucontainer .menu-item-title {
    font-family: "Staatliches", cursive;
    font-size: 60px;
    color: #F1A536; }
  .menucontainer .menu-item-description {
    color: #3F5866;
    font-family: "Krub", sans-serif;
    font-size: 18px;
    margin-left: 20px; }
  .menucontainer .menu-item-name {
    font-size: 30px; }
    .menucontainer .menu-item-name .menu-item-price {
      margin-left: 20px; }
  .menucontainer .menu-item-adds {
    font-size: 20px; }
  .menucontainer .menu-item-toppings {
    font-family: "Staatliches", cursive;
    font-size: 40px;
    color: #F1A536; }
  .menucontainer .menu-item-adds-fries {
    margin-left: 25px;
    font-size: 18px; }

ul {
  list-style-type: none; }

html, body {
  width: 100%; }

.middle-map {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.map-section {
  width: 40%;
  padding: 20px;
  margin-top: 20px; }
  .map-section .map-title {
    font-family: "Staatliches", cursive;
    text-align: center;
    font-size: 40px;
    color: #F1A536; }
  .map-section .map-address {
    margin-bottom: 0; }
  .map-section .map-hours {
    padding: 0; }

.map {
  width: 100%; }

.jobs-header {
  font-family: "Krub", sans-serif;
  font-size: 40px;
  text-align: center;
  letter-spacing: 10px;
  color: #3F5866; }

.middle-job {
  width: 50%;
  padding: 20px;
  background-color: #F7F7F7;
  display: inline-block;
  margin-left: 25%;
  border-radius: 5px;
  font-family: "Krub", sans-serif;
  letter-spacing: 3px;
  margin-top: 30px; }
  .middle-job .job-description {
    font-family: 'Staatliches', cursive;
    color: #2B3A42;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0px; }
  .middle-job input[type=text] {
    width: 100%;
    border-radius: 5px;
    margin: 5px; }
  .middle-job .states {
    margin: 5px;
    width: 100%;
    background-color: #FFFFFF; }
  .middle-job input[type=email] {
    margin: 5px;
    width: 100%;
    border-radius: 5px; }
  .middle-job .work-history {
    font-size: 14px;
    margin-left: 8px; }
  .middle-job .multi-text {
    width: 100%;
    margin: 5px;
    width: 100%;
    border-radius: 5px; }
  .middle-job .checkbox-container {
    display: block;
    font-size: 14px;
    margin: 5px; }
    .middle-job .checkbox-container input[type=checkbox] {
      margin: 5px; }
  .middle-job .submitbtn {
    width: 100%;
    margin-top: 20px;
    letter-spacing: 5px;
    background-color: #BDD3DE;
    border-radius: 5px; }
  .middle-job .submitbtn:hover {
    background-color: #F1A536; }

.middle-faq {
  font-family: "Krub", sans-serif; }

.card-header {
  background-color: #F7F7F7; }

.btn-link {
  color: #2B3A42; }

.btn-link:hover {
  color: #F1A536;
  text-decoration: none; }

.video {
  margin-top: 20px; }
