$darkgrey: #2B3A42;
$medgrey: #3F5866;
$lightgrey: #BDD3DE;
$beige: #F0F0DF;
$orange: #F1A536;
$mainfont: 'Krub', sans-serif;
$accentfont: 'Staatliches', cursive;



.middle-faq {
  font-family: $mainfont;
}

.card-header {
  background-color: #F7F7F7;
}

.btn-link {
  color: $darkgrey;
}
.btn-link:hover {
  color: $orange;
  text-decoration: none;
}

.video {
  margin-top: 20px;
}

