$darkgrey: #2B3A42;
$medgrey: #3F5866;
$lightgrey: #BDD3DE;
$beige: #F0F0DF;
$orange: #FF8F00;
$mainfont: 'Krub', sans-serif;

html, body {
  width: 100%;
}
.middle-map {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.map-section {
  width: 40%;
  padding: 20px;

}
.map {
  width: 100%;

}