$darkgrey: #2B3A42;
$medgrey: #3F5866;
$lightgrey: #BDD3DE;
$beige: #F0F0DF;
$orange: #FF8F00;
$mainfont: 'Krub', sans-serif;


.menucontainer {
  padding: 20px;

  .menu-title {
    font-size: 50px;
    font-family: $mainfont;

    margin-top: 20px;

  }
}

