$darkgrey: #2B3A42;
$medgrey: #3F5866;
$lightgrey: #BDD3DE;
$beige: #F0F0DF;
$orange: #FF8F00;
$mainfont: 'Krub', sans-serif;
$accentfont: 'Staatliches', cursive;


.menucontainer {
  padding: 20px;
  margin-left: 20px;
  font-family: $mainfont;

  .menu-title {
    font-size: 60px;
    font-family: $accentfont;
    margin-top: 20px;
    border-bottom: 1px solid $lightgrey;
    text-align: center;
  }

  .menu-item {
    border-bottom: 1px solid $lightgrey;


  }

  .menu-item-title {
    font-family: $accentfont;
    font-size: 60px;

  }

  .menu-item-description {
    color: $medgrey;
    font-family: $mainfont;
    font-size: 18px;
    margin-left: 20px;
  }

  .menu-item-name {
    font-size: 30px;

    .menu-item-price {
      margin-left: 20px;
    }
  }

  .menu-item-adds {
    font-size: 20px;
  }

  .menu-item-toppings {
    font-family: $accentfont;
    font-size: 40px;
  }

  .menu-item-adds-fries {
    margin-left: 25px;
    font-size: 18px;
  }

}

ul {
  list-style-type: none;
}
