$darkgrey: #2B3A42;
$medgrey: #3F5866;
$lightgrey: #BDD3DE;
$beige: #F0F0DF;
$orange: #F1A536;
$mainfont: 'Krub', sans-serif;
$accentfont: 'Staatliches', cursive;

@mixin imagescroll {
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin pagetitle {
  font-size: 60px;
  font-family: $accentfont;
  margin-top: 20px;
  border-bottom: 1px solid $lightgrey;
  text-align: center;
  letter-spacing: 4px;
  color: $darkgrey
}

.page-title {
  @include pagetitle;
}

html {
  height: 100%;
}


.logoimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}
.navbar {
  position: fixed;
  width: 100%;

  .fab {
    padding: 10px;
  }

  .social-icon {
    color: $medgrey;
  }

  .social-icon:hover {
    color: $orange;
  }

  .nav-link:hover {
    font-size: 18px;
    color: $orange;
  }

  .active {
    font-size: 20px;
    font-family: $accentfont;
  }


}
.navback {
  background-color: #F7F7F7;
}
.navbar-light .navbar-nav .nav-link {
  color: $darkgrey;
}
.logocropped {
  height: 30px;
}
.paraback1 {
  @include imagescroll;
  background-image: url('../images/burger-hero.jpg');
}

.slogan {
  font-family: $mainfont;
  font-size: 35px;
  text-align: center;
  letter-spacing: 10px;
  color: $medgrey
}

.content-container {
  padding: 30px;

  .body {
    font-family: $mainfont;
    color: $medgrey;
    font-size: 30px;
    padding: 15px;
  }

  .p1 {
    color: $darkgrey;
    font-weight: bold;
  }

  .p3 {
    color: $orange;
    font-weight: bold;
  }
}
.bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
  font-family: $mainfont;
  color: $darkgrey;

  .modal-header {
    border-bottom: none;
  }
  .modal-footer {
    border-top: none;
  }
  .subscribebtn {
    background-color: $medgrey;
    border: none;
  }
  .subscribebtn:hover {
    background-color: $orange;
  }

  .closebtn {
    background-color: $lightgrey;
    border: none;
  }
  .closebtn:hover {
    background-color: $medgrey;
  }

  .subbtn {
    background-color: $orange;
    border: none;
  }
  .subbtn:hover {
    background-color: $medgrey;
  }
}


@import 'menu';
@import 'locations';
@import 'jobs';
@import 'faq';
